// Utilities
//////////////////////////////////////////////////////

// Rubber Container
.container-fluid {
  padding-left: $gutter;
  padding-right: $gutter;

  @include xs {
    padding-left: $gutter / 2;
    padding-right: $gutter / 2;
  }
}

// Visibility helpers

.visible-lg-inline,
.visible-sm,
.visible-xs,
.visible-min-inline {
  display: none;
}

.visible-lg-inline {
  @include lg {
    display: inline;
  }
}

.hidden-lg {
  @include lg {
    display: none;
  }
}

.hidden-sm {
  @include sm {
    display: none;
  }
}

.hidden-xs {
  @include xs {
    display: none;
  }
}

.visible-sm {
  @include sm {
    display: block;
  }
}

.visible-xs {
  @include xs {
    display: block;
  }
}

.visible-min-inline {
  @include min {
    display: inline;
  }
}


// Animations

.bounce {
  $duration: $transition_duration * 3;
  animation: bounce #{$duration} infinite ease-in-out;
}

.pulse {
  $duration: $transition_duration * 3;
  animation: pulse #{$duration} infinite ease-in-out;
}

.riseUp {
  $duration: $transition_duration * 2;
  @include animation("riseUp #{$duration} forwards #{$transition_timing-function}",
                     "fadeOn #{$duration} forwards #{$transition_timing-function}"); // stylelint-disable-line indentation
}

.riseDown {
  $duration: $transition_duration * 2;
  @include animation("riseDown #{$duration} forwards #{$transition_timing-function}",
                     "fadeOut #{$duration} forwards #{$transition_timing-function}"); // stylelint-disable-line indentation
}
